*, :after, :before {
  box-sizing: border-box;
}

/* @media (min-width: 768px) {
  main h1 {
    font-size: 6em;
  }
} */



html, body {
    margin: 0;
    background-color: #1b1b1b;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    line-height: 1.75;

  }

main {
  
  
  color: white;
    
    

}

p {
  margin: 1rem 0 2rem;
}

.code-example {
  display: block;
  position: relative;
  /* display: inline-block; */
}

.code-example button{
  opacity: 0.7;
  /* padding: 0.25rem; */
  position: absolute;
  right: 0.5rem;
  top: 0.75rem;

  cursor: pointer;
  height: 1.25rem;
  margin: 0;
}

.code-example .tooltip {


  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  right: 0;
  top: -2rem;
  margin: 0;
  opacity: 0;
  transition: opacity 0.3s;



}

.code-example .tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 78%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltipArea:hover .tooltip {
  visibility: visible;
  opacity: 1;
}


pre {
  display: block;
  font-family: monospace;
  background-color: #343434;
  border: 1px solid transparent;
  margin: 1rem 0 2rem;
  padding: 1rem 2.5rem 1rem 1rem;
  word-wrap: break-word;
  white-space: pre-wrap;
  
}

.code-example, code, pre {
  border-radius: 0.25rem;
  font-size: 1rem;

}

code {
  font-family: monospace;
  background: #343434;
  padding: 0.125rem 0.25rem;
  width: fit-content;
}

pre code {
  background: none;
  color: #fff;
  padding: 0;
}

.token.boolean, .token.char, .token.constant, .token.deleted, .token.number, .token.string, .token.symbol, .token.tag {
  color: #00d061;
}

.token.attr-name, .token.builtin, .token.class-name, .token.function, .token.inserted, .token.property, .token.selector {
  color: #ff97a0;
}

.token.keyword {
  color: #c1cff1;
}

.token.cdata, .token.comment, .token.doctype, .token.prolog, .token.punctuation {
  color: #9e9e9e;
}



main a {
  color: white;
}

main a:hover {
  color: #8cb4ff;
}


.table-scroll table{
  border-collapse: collapse;
  width: 100%;
}

.table-scroll a {
  color: #8cb4ff;
  background: #343434;
}

.table-scroll td {
  border: 1px solid #858585;
  padding: 0.5rem 0.75rem;
  vertical-align: middle;
}

.table-scroll tr:nth-child(odd) {
  background-color: #343434;

}

.table-scroll tr:hover {
  background-color: rgb(83, 78, 78);
  /* color: black; */
}

div.content {
  display: flex;
  flex-direction: column;
  
  padding: 1px 16px;

}

div.content a {
  color: #8cb4ff;
}

div.content a:hover {
  text-decoration: none;
}

.content h1 {
  font-size: 2.5em;
  margin-bottom: 2rem;
  word-break: break-word;

  
}


.content section header {
 font-size: 2em;
}

.content section h3 {
font-size: 1.25em;
}

.content section header a, .content section h3 a {
  text-decoration: none;
  color: white;
}

.content section header a:hover, .content section h3 a:hover {
  text-decoration: underline;
}

#navbar {
  color: #cdcdcd;
  height: 100%;
  overflow: auto;
}

@media screen and (max-width: 768px) {
  #navbar {
    display: block;
    position: sticky;
    margin: 0;
    margin-top: 40px;
    padding: 0;
    width: 80%;
    text-align: center;
    
  }

  #navbar header {
    padding: 16px;
    background-color: #555;
    color: white;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  div.content {
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  #navbar {
    margin: 0;
    margin-top: 210px;
    margin-left: 1%;
    padding: 0;
    width: 200px;
    position: fixed;
  }

  div.content {
    margin-left: 225px;

  }

  .aside-navbar ul {
    border-left: 2px solid gainsboro;
    width: 200px;
  }

  .aside-navbar a.active {
    border-left: 2px solid #ff6d91;
  }


}



.aside-navbar a {
  display: block;
  color: #cdcdcd;
  padding: 16px;
  text-decoration: none;
}
 
.aside-navbar a.active {
  background-color: #ff1f7230;

  color: white;
  font-weight: bold;

}

.aside-navbar a:hover:not(.active) {
  /* background-color: #555; */
  color: #8cb4ff;
}


.aside-navbar ul {

  list-style-type: none;
  margin: 0;
  padding: 0;


 


}



#Summary {
  height: 100vh;
}


